{{ define "main" }}
<h2 class="page-title">{{ .Title }}</h2>
<div class="page-content">
    {{ range .Paginator.Pages }}
    <article>
        <div class="article-header">
            <h3>
                <a href="{{ .RelPermalink }}">
                    {{ .Title }}
                </a>
            </h3>
            {{ with .Date }}
            <p class="article-header__published-at-date">{{ .Format "02.01.2006" }}</p>
            {{ end }}
        </div>

        <div class="article-body">
            {{ if .Params.description }}
            {{ .Params.description }}
            {{ else }}
            {{ .Summary }}
            {{ end }}
        </div>

        <div class="article-footer">
            <a href="{{ .RelPermalink }}">
                {{ i18n "read_more"}}
            </a>
        </div>

    </article>
    {{ end }}
</div>


<div class="page-footer">
    {{ if .Paginator.HasPrev }}
    <a href="{{ .Paginator.Prev.URL }}">
        {{ i18n "prev_page" }}
    </a>
    {{ end }}

    <span>{{ i18n "page" }} {{ .Paginator.PageNumber }} {{ i18n "from" }} {{ .Paginator.TotalPages }}</span>

    {{ if .Paginator.HasNext }}
    <a href="{{ .Paginator.Next.URL }}">
        {{ i18n "next_page" }}
    </a>
    {{ end }}
</div>
{{ end }}