{{ define "main" }}
<article>
    <!--Title-->
    <div class="article-header">
        {{ if eq .Type "posts" }}
        <p class="article-header__back-to-posts">
            <a href='{{ "/posts/" | relLangURL }}'>{{ i18n "back_to_posts" }}</a>
        </p>
        {{ end }}
        <h1>{{ .Title }}</h1>
        {{ with .Date }}
        <p class="article-header__published-at-date">{{ .Format "02.01.2006" }}</p>
        {{ end }}
    </div>
    <div class="article-body">
        {{ .Content }}
    </div>

    {{ if eq .Type "posts" }}
    <!--Next & Prev Links-->
    <div class="article-footer">
        {{ $prev := "" }}
        {{ range where .Site.RegularPages "Type" "posts" }}
        {{ if and (lt .Date $.Date) (or (eq $prev "") (gt .Date $prev.Date)) }}
        {{ $prev = . }}
        {{ end }}
        {{ end }}
        {{ with $prev }}
        <div class="text-left">
            <span class="article-footer__navigaion-text">
                {{ i18n "prev_post" }}
            </span><br>
            <p><a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </p>
        </div>
        {{ end }}
        {{ $next := "" }}
        {{ range where .Site.RegularPages "Type" "posts" }}
        {{ if and (gt .Date $.Date) (or (eq $next "") (lt .Date $next.Date)) }}
        {{ $next = . }}
        {{ end }}
        {{ end }}
        {{ with $next }}
        <div class="text-right">
            <span class="article-footer__navigaion-text">
                {{ i18n "next_post" }}
            </span><br>
            <p><a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </p>
        </div>
        {{ end }}
    </div>
    {{ end }}
</article>
{{ end }}